// <span class="oi" data-glyph="arrow-bottom"></span>
@import '../../src/assets/font/css/open-iconic.css';
// <span class="oi oi-arrow-bottom"></span>
@import '../../src/assets/font/css/open-iconic-bootstrap.css';
// <span class="fi-arrow-bottom"></span>
@import '../../src/assets/font/css/open-iconic-foundation.css';