$color-primary = #e13636;
$color-primary-light = lighten($color-primary, 10%);
$color-primary-dark = darken($color-primary, 10%);

$color-gray-darker = #333;
$color-gray-dark = #666;
$color-gray = #999;
$color-gray-light = #dcdddf;
$color-gray-lighter = #ebebeb;

$bg-gray-lighter = #F9F9F9

$color-border = $color-gray-lighter;
$color-text = $color-gray-darker;

$bg-body = #f2f2f2;

$height-btn = 84px;
$height-btn-small = 54px;

$border-radius-btn = 8px;
$border-radius-btn-round = 40px;
$font-size-xs = 18px
$font-size-ss = 20px
$font-size-s = 22px;
$font-size = 26px;
$font-size-l = 30px;
$font-size-ll = 40px;

$font-size-text = $font-size;

$font-size-btn = $font-size;
$font-size-btn-s = $font-size-s;
$font-size-btn-l = $font-size-l;

$font-size-dialog-btn = $font-size-l;
$font-size-dialog-txt = $font-size-l;

$padding-s = 15px;
$padding = 20px;
$padding-l = 30px;


$margin-s = 15px;
$margin = 20px;
$margin-l = 30px;

$total-price = $color-primary
$btn-self-color = #f50
